extends layout

block topMenu
	-var selected = 'Buildings'

block content
	.jumbotron
		table.table-bordered.center800
			tbody
				each building in buildings
					tr
						td
							.tableContent
								.main
									img(src="../../images/buildings/wishing_well.svg" alt="wishing_well" width="170" height="170")
								.description
									.p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget malesuada tortor. Nullam est ligula, porta vitae interdum eget, scelerisque at ligula. Pellentesque elit justo, luctus a molestie vel, vehicula ac justo. Mauris non nisi nec felis vulputate pharetra at in urna. Praesent fermentum interdum nulla, vitae interdum magna hendrerit vitae. Vestibulum ante ipsum primis in faucibus orci luctus et. 