extends layout

block topMenu
	-var selected = 'Buildings'

block content
	.jumbotron
		table.table-bordered.center800
			tbody
				each building in buildings
					tr
						td
							.tableContent
								.main
									.image
										img(src="../../images/buildings/wishing_well.svg" alt="wishing_well" width="170" height="170")
									.content
										.p.name #{building.name}
										table(style="margin:5 0;")
											tr
												td(colspan="2")
													.p Subir a nivel x
											tr
												td
													.p hola
												td
													.p adios
								.description
									.p hola