extends layout

block topMenu
	-var selected = 'Home'
	
block content
	.jumbotron
		img(src="../../images/village.png" alt="chorrada" width="800" height="450" style="border:1px solid black;")
		p(class="lead") This is your village.
		p(class="lead" style="text-align:right;") Score: #{score}
		p(class="lead" style="text-align:right;") Wood per hour: #{doc.resourcesPerHour.woodPerHour}
		p(class="lead" style="text-align:right;") Stone per hour: #{doc.resourcesPerHour.stonePerHour}
		p(class="lead" style="text-align:right;") Iron per hour: #{doc.resourcesPerHour.ironPerHour}
			
	.row
		.col-lg-4
			h2 Safari Warning!
			p(class="text-danger") As of v7.0.1, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing.
			p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			a(class="btn btn-primary" href="#" role="button") View details &raquo;
		.col-lg-4
			h2 Safari Warning!
			p(class="text-danger") As of v7.0.1, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing.
			p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			a(class="btn btn-primary" href="#" role="button") View details &raquo;
		.col-lg-4
			h2 Safari Warning!
			p(class="text-danger") As of v7.0.1, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing.
			p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			a(class="btn btn-primary" href="#" role="button") View details &raquo;