extends indexLayout

block topMenu
	-var selected = 'Home';

block content	
	.jumbotron
		h1 Welcome
		p(class="lead") Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.
		a(class="btn btn-lg btn-success" href="signUp" role="button") Play for free!
	.row
		.col-lg-4
			h2 Beta v1.1 released!
			p(class="text-danger") As of v7.0.1, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing.
			p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			a(class="btn btn-primary" href="#" role="button") View notice on Forum &raquo;
		.col-lg-4
			h2 Beta v1.0 released!
			p(class="text-danger") As of v7.0.1, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing.
			p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			a(class="btn btn-primary" href="#" role="button") View notice on Forum &raquo;
		.col-lg-4
			form(class="form-signin" role="form" action="/enterGame" method="post")
				h2(class="form-signin-heading" align="center") Sign in
				input(type="text" class="form-control first" placeholder="Username" name="username" required autofocus)
				input(type="password" class="form-control last" placeholder="Password" name="password" required)
				label(class="checkbox")
					input(type="checkbox" value="remember-me")
					| Remember me.
				button(class="btn btn-lg btn-primary btn-block" type="submit") Sign in
				a(href="") Forgotten password.